%table{:cellpadding=>'10'}
  = f.fields_for :multianswers do |m|
    %tr
      %td{:valign=>'center'}
        = m.hidden_field :response_id #, m.object.response.id
        = m.hidden_field :value
        = m.check_box :selected
        &nbsp;
        = "#{m.object.response.label}"

        - if m.object.response.definition
          %p
          %table{:cellpadding=>2}
            %tr
              %td{:width=>23}
              %td
                = m.object.response.definition

