= render 'header'

- if !@question.instruction.blank?
  - if @question.order_id > 2003 && @question.order_id < 3000 
    %h3
      ="#{@question.instruction}:"
    %br
  - else
    %h3
      Instructions:
    %h4
      = raw display_content_with_links( @question.instruction )
    %br
  
.well
  %h3
    = display_your_area( @question.item )

  %p
  .big
    =# Type:
    =# = @question.qtype 
    =# - @question.responses.each do |r|
    =#   %p
    =#   ="#{r.value}, #{r.label}"

    = form_for([:user, @questionnaire, @answer], :html=>{:class=>'form-stacked', :id=>'new_answer'}) do |f| 
      = f.hidden_field :question_id
      = hidden_field_tag :save_and_exit, :id=>'save_and_exit'
      %table{:width=>'100%'}
        %tr
          %td{:width=>'3%'}
          %td
            - if @question.qtype == 'likert_scale'
              = render :partial => 'likert_form',   :locals=>{:f=>f}

            - elsif @question.qtype == 'one_response'
              = render :partial => 'radio_form',    :locals=>{:f=>f}

            - elsif @question.qtype == 'many_responses'
              = render :partial => 'checkbox_form', :locals=>{:f=>f}

            - elsif @question.qtype == 'rank_five'
              = render :partial => 'ranking_form',  :locals=>{:f=>f}

            - elsif @question.qtype == 'rank_three'
              = render :partial => 'rank_three_form',  :locals=>{:f=>f}

            - else
              = render :partial => 'text_form',     :locals=>{:f=>f}
      
= render 'footer'

