= provide(:title, 'Assessment')

.page-header
  %h2
    Assessment Region: 
    = current_user.city

- currsec = nil
.big
  %ul.nav.nav-tabs
    - for ii in 1..5
      - sec = Section.tab( ii )
      - str = sec.title
      - ans = @questionnaire.answers.select{|a| !a.new_record? && a.question.section == sec}.first

      - if @question.section == sec
        - currsec = sec
        - if ans 
          %li.active
            =link_to str, edit_user_questionnaire_answer_path(@questionnaire, ans)
        - else 
          %li.active
            =link_to str, '#'

      - else 
        - if ans 
          %li
            =link_to str, edit_user_questionnaire_answer_path(@questionnaire, ans)
        - else 
          %li
            =link_to str, '#', {:style=>'color:#D8D8D8;', :class => "css_class"}

%p

- rems = currsec.questions.where( "questions.id > ?", @question.id ).order("id asc").count
- tots = currsec.questions.count
- nums = tots - rems
- perc = nums.to_f / tots * 100
.right
  %table
    %tr
      %td{:valign=>'top'}
        Question 
        = "#{nums}"
        out of 
        = "#{tots}"
      %td{:valign=>'top'}
        &nbsp; 
      %td{:valign=>'top'}
        .span2
          .progress.progress-info.progress-striped
            .bar{ :style=>"width: #{perc}%" }

%br
%p
%br
