=# f.input :response_id, :as=>'radio'

%table
  %tr
    - ii = 1;
    - @question.responses.each do |r|
      %td{:colspan=>'3',:align=>'center'}
        = "#{ii}"
        - ii = ii + 1;
      - if ii == 5
        %td
          &nbsp;
      - else
        %td
          &nbsp;


  %tr
    - ii = 0;
    - @question.responses.each do |r|
      %td{:colspan=>'3',:align=>'center'}
        = f.radio_button :response_id, "#{r.value}"
        - ii = ii + 1;

      %td
        - if ii == 5
          &nbsp;
        - else 
          = image_tag 'line.png', :width=>'135'

  %tr
    - ii = 0;
    - @question.responses.each do |r|
      %td{:width=>'15'}
      %td{:align=>'center', :valign=>'top', :width=>'60'}
        = "#{r.label}"
        - ii = ii + 1;
      %td{:width=>'15'}

      - if ii == 5
        %td
          &nbsp;
      - else
        %td{:width=>'90'}
          &nbsp;

