= render 'header'

- if !@question.instruction.blank?
  %h3
    Instructions:
  %h4
    = raw display_content_with_links( @question.instruction )
  %br

.well
  %h3
    = @question.item 

  %p
  .big
    = form_for([:user, @questionnaire, @answer], :html=>{:class=>'form-stacked', :id=>'new_answer'}) do |f| 
      = f.hidden_field :question_id
      - if @question.qtype == 'likert_scale'
        %table{:width=>'100%'}
          %tr
            %td{:width=>'3%'}
            %td
              = render :partial => 'likert_form', :locals=>{:f=>f}
      - elsif @question.qtype == 'one_response'
        %table{:width=>'100%'}
          %tr
            %td{:width=>'3%'}
            %td
              = render :partial => 'radio_form', :locals=>{:f=>f}
      - elsif @question.qtype == 'many_responses'
        %table{:width=>'100%'}
          %tr
            %td{:width=>'3%'}
            %td
              = render :partial => 'checkbox_form',  :locals=>{:f=>f}
      - else
        %table{:width=>'100%'}
          %tr
            %td{:width=>'3%'}
            %td
              = render :partial => 'text_form',  :locals=>{:f=>f}
      
= render 'footer'
