= render 'header'

- if !@question.instruction.blank?
  %h3
    Instructions:
  %h4
    = raw display_content_with_links( @question.instruction )
  %br

.well
  %h3
    = @question.item 

  %p
  .big
    =# Type:
    =# = @question.qtype 
    =# - @question.responses.each do |r|
    =#   %p
    =#   ="#{r.value}, #{r.label}"

    = form_for([:user, @questionnaire, @answer], :html=>{:class=>'form-stacked'}) do |f| 
      = f.hidden_field :question_id
      - if @question.qtype == 'one_response'
        %table{:width=>'100%'}
          %tr
            %td{:width=>'3%'}
            %td
              = render :partial => 'radio_form', :locals=>{:f=>f}
      - else
        %table{:width=>'100%'}
          %tr
            %td{:width=>'8%'}
            %td
              = render :partial => 'text_form',  :locals=>{:f=>f}
      
= render 'footer'
