= provide(:title, 'New Section') 

.page-header
  %h1
    Create New Section

.right
  = link_to 'Back to Sections Listing', admin_sections_path 
%p
%br
%br

= simple_form_for([:admin, @section]) do |f| 
  = f.error_notification 
  = render :partial => 'form', :locals=>{:f=>f}

