= provide(:title, 'Show Section') 

.page-header
  %h1
    Section Details

=#<p id="notice"><%= notice %></p>

.right
  = link_to 'Edit Section', edit_admin_section_path(@section) 
  &nbsp;
  &nbsp;
  = link_to 'Back to Sections Listing', admin_sections_path 
%p
%br
%br

%p
  %b
    Title:
%p
= @section.title 

%p
%br
  %b
    Description:
%p
= @section.description 

%p
%br
  %b
    Questions:

%p
= render 'questions'

%br
= link_to 'Create New Question', new_admin_section_question_path(@section)
