= provide(:title, 'Show Section') 

.page-header
  %h1
    Section Details

=#<p id="notice"><%= notice %></p>

%p
  %b
    Title:
%p
= @section.title 

%p
%br
  %b
    Description:
%p
= @section.description 
%p
%br

= link_to 'Edit Section', edit_section_path(@section) 
%p
= link_to 'Back to Sections Listing', sections_path 
%p
