= f.input :order_id

= f.input :item, 
  :input_html => {:rows=>6}

= f.input :qtype, 
  :label=> 'Question Type', 
  :collection => Question.qtypes.map{ |c| [c.to_s.humanize, c]}

= f.input :instruction, 
  :input_html => {:rows=>10}
 
= f.input :parent_question_id
 
= f.input :parent_response_value
 
%br
%br
%center
  = f.button :submit, :class => 'btn btn-primary'
