
%table.table.table-striped.table-bordered{:cellpadding=>10, :width=>'100%'}
  %tr
    %th
      Order
    %th
      Value
    %th
      Label
    %th
      Definition
    %th
      Actions 

  - @responses.each do |response| 
    %tr
      %td
        = response.order_id
      %td
        = response.value
      %td
        = response.label
      %td
        = response.definition
      %td{:width=>'20%'}
        %span{:style => 'white-space: nowrap'}
          .center 
            = action_links [:admin, @section, @question, response], :exclude => [:index], :delete => {:title=>'Delete', :alt_text=>'Delete', :confirm=> 'Are you sure you want to delete this response label?'}


