= provide(:title, 'Show Question') 

.page-header
  %h1
    Question Details

=#<p id="notice"><%= notice %></p>

.right
  = link_to 'Edit Question', edit_admin_section_question_path( @section, @question) 
  &nbsp;
  &nbsp;
  = link_to 'Back to Section Details', admin_section_path( @section )
%p
%br
%br

%p
  %b
    Order Id:
%p
= @question.order_id - (@section.order_id * 1000)

%p
%br
  %b
    Item:
%p
= @question.item

%p
%br
  %b
    Type:
%p
= @question.qtype.to_s.humanize

%p
%br
  %b
    Instruction:
%p
- if @question.instruction.blank?
  None
- else
  = @question.instruction

%p
%br
  %b
    Reponses:

%p
- if @question.responses.blank?
  None
  %p
- else
  = render 'responses'

%br
= link_to 'Create New Response', new_admin_section_question_response_path(@section,@question)
