= provide(:title, 'Show Question') 

.page-header
  %h1
    Question Details

=#<p id="notice"><%= notice %></p>

.right
  = link_to 'Edit Question', edit_admin_section_question_path( @section, @question) 
  &nbsp;
  &nbsp;
  = link_to 'Back to Section Details', admin_section_path( @section )
%p
%br
%br

%p
  %b
    Item:
%p
= @question.item

%p
%br
  %b
    Type:
%p
= @question.qtype.to_s.humanize

%p
%br
  %b
    Instruction:
%p
= @question.instruction
