.page-header
  %h1
    View User Profile

.right
  = link_to 'Edit User', edit_admin_user_path(@user) 
  &nbsp;
  &nbsp;
  = link_to 'Back to User Accounts', admin_users_path 
%p
%br
%br

.big 
  %table{:cellpadding=>'10px'}
    %tr
      %td{:align=>'right'}
        %b
          Username:
      %td
        = @user.username 
    %tr
      %td{:align=>'right'}
        %b
          Name:
      %td
        = @user.first_name
        = @user.last_name
  
    %tr
      %td{:align=>'right'}
        %b
          Affiliation:
      %td
        = @user.organization
      
    %tr
      %td{:align=>'right'}
        %b
          Position Title:
      %td
        = @user.current_role
      
    %tr
      %td{:align=>'right'}
        %b
          Area or Region Represented:
      %td
        = @user.region.label
      
    %tr
      %td{:align=>'right'}
        %b
          State/Province:
      %td
        = @user.province
      
    %tr
      %td{:align=>'right'}
        %b
          Country:
      %td
        = @user.country
      
    %tr
      %td{:align=>'right'}
        %b
          Email:
      %td
        = @user.email
      
    %tr
      %td{:align=>'right'}
        %b
          Contact Phone:
      %td
        = @user.phone
      
    %tr
      %td{:align=>'right'}
        %b
          Admin?
      %td
        = @user.admin
      
    %tr
      %td{:align=>'right'}
        %b
          Active?
      %td
        = @user.active
      
