.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'HRVA', root_path, :id=>"logo", :class=>"brand"

      .nav-collapse
        %ul.nav
          %li= link_to "About",            about_path
          %li= link_to "References",       references_path
          %li
            - if current_user.questionnaires.last 
              = link_to "Resume Assessment", resume_path
            - else
              = link_to "Start Assessment", start_path
          %li= link_to "Help",             help_path 
          %li= link_to "Contact",          contact_path
        %ul.nav.pull-right
          -if current_user.try(:admin?)
            %li= link_to "Admin", admin_index_path
          -if current_user
            %li.dropdown
              =link_to '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                =current_user.display_name
                &nbsp;
                =#image_tag(current_user.avatar_url, :height => 25, :width => 25) if current_user.avatar_url
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'Edit My Profile', edit_user_registration_path                                       
                %li
                  =link_to 'Sign out', destroy_user_session_path, :method => :delete
          -else            
            %li= link_to "Sign in", new_user_session_path
